.ant-select-selector {
  border: 1px solid #0a58ca !important;
  color: #0a58ca !important;
  height: 40px !important;
}

.ant-select-arrow {
  margin-top: -2px !important;
  color: #0a58ca !important;
  font-weight: bold;
}